<!-- Carousel
    ================================================== -->
<div id="mainCarousel" class="carousel slide" data-ride="carousel">

    <!-- video background
    <div id="videoBackground" class="carousel-background"></div> -->
    <a id="bgndVideo" class="bg_player"
       data-property="{
  videoURL:'<%- theme.video_background_url %>',
  containment:'#carouselInner',
  showControls:true,
  showYTLogo:true,
  autoPlay:true,
  stopMovieOnBlur:false,
  loop:true,
  mute:true,
  startAt:23,
  opacity:1,
  addRaster:true,
  quality:'medium'
  }"
    ></a>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <%
        for(var i = 0; i < site.data.carousel.items.length; i++){ %>
        <li data-target="#mainCarousel" data-slide-to="<%= i %>"
                <% if(i == 0){%>
            class="active"
                <% } %>  ></li>
        <% } %>
    </ol>

    <div id="carouselInner" class="carousel-inner carousel-background" role="listbox">
        <%
        for(var j = 0; j < site.data.carousel.items.length; j++){
            var item = site.data.carousel.items[j];
        %>
        <div class="carousel-item <% if(j == 0){ %> active <% } %>">

            <div class="container">
                <div class="carousel-caption text-xs-left">
                    <h1><%- item.headline %></h1>
                    <p><%- item.text %></p>
                    <% if(!!item.button){ %>
                    <p><a class="btn btn-lg btn-outline-primary"
                          href="<%- item.button.url %>"
                                <%- (item.button.newtab ? 'target="_blank' : "") %>
                          role="button">
                            <%- item.button.text %>
                        </a>
                    </p>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
